<div class="sign-in-box-outer">
  <div class="header-inner">Sign In</div>
  <div class="details-form-inner">
    <form action="" [formGroup]="SignInDetailsForm" (ngSubmit)="SignIn()">
      <mat-form-field class="example-full-width" appearance="fill" [style.width.px]="400">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" appearance="fill" [style.width.px]="400">
        <mat-label>Password</mat-label>
        <mat-error>Minimum of 8 characters</mat-error>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" [disabled]="SignInDetailsForm?.invalid"> Sign In</button>

    </form>
  </div>
  <div class="other-auths-inner">
    <button mat-raised-button color="primary" (click)="SignInWithGoogle()"> Sign In With Google</button>
  </div>
</div>


