<div class="row">
  <div class="image-outer">
    <div class="header-content">
      <div class="name-inner">
        <h3 class="name-text">OneSchool</h3>
      </div>
      <div class="header-contents-outer">
        <div class="header-contents-inner"><a href="" class="header-contents-inner-data"> Home</a></div>
        <div class="header-contents-inner"><a href="" class="header-contents-inner-data"> About Us</a></div>
        <div class="header-contents-inner"><a href="" class="header-contents-inner-data"> FAQ</a></div>
      </div>
      <div class="contact-inner">
        <button mat-raised-button color="primary" class="contact-us-button">CONTACT US</button>
      </div>
    </div>
    <div class="body-content">
      <div class="text-area">
        <div class="text-inner">
          <div class="text-header">
            Learn From The Expert
          </div>
          <div class="text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</div>
        </div>
      </div>
      <div class="login-area">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#signup" class="signUp-tab">Sign Up</a></li>
          <li><a data-toggle="tab" href="#login" class="login-tab">Login</a></li>
        </ul>
        <div class="tab-content">
          <div id="signup" class="tab-pane fade in active">
            <app-sign-up></app-sign-up>
          </div>
          <div id="login" class="tab-pane fade">
            <app-login></app-login>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
